ul
		{
		list-style-type: none;
   		margin-left: 31%;
	    padding-left: 0px;
	    width: 45%;
	    overflow: hidden;
	    text-align: left;
			}
ol
{
	align-content: center;
	width: 700px;
	height: 300px;
	margin-bottom: 60px;
	text-align: center;
	top:250px;
	position: absolute;
	left:40%;
}
.jk{
	marign:0px 0px 0px 0;
	height: 400px;
	width: 100%;
}
		li
		{
		float:left;
		}
		a:link,a:visited
		{
		display:block;
		width:30%;
		font-weight:bold;
		color:#FFFFFF;
		background-color:white;
		text-align:left;
		padding: 10px;
		color: darkgrey;
		background-color:white;
		text-transform:uppercase;

		}
		a:hover,a:active
		{
		
		background-color:#ffffff;
		/*text-align:center;*/
		width: 100%;
		color: black;
		background-color:grey;
		}
		b
			{
				margin: 0;
				padding: 0;
				border: 0;
				outline: 0;
				font-weight: inherit;
				font-style: inherit;
				font-family: inherit;
				font-size: 100%;
				vertical-align: baseline;
			}
		body {
			background: white;
			color: #000000;
			font-family: Arial, Times New Roman;
			font-size: 16px;
			}
		header {
			height: 180px;
			width: 100%;
			border-bottom: #000000 solid ;
			}

		content {
			
			float: left;
			color: black;
			height: 60%;
			width: 100%;
			border-bottom: solid;
			}
		footer2 {
			background:white ;
			float: left;
			color: black;
			height: 350px;
			width: 32%;
			}
		footer3 {
			background:white ;
			float: left;
			color: black;
			height: 350px;
			width: 32%;
			}
		footer4 {
			background:white ;
			float: left;
			color: black;
			height: 350px;
			width: 33%;
			}
		.foto {
			margin-left:50px ;
			width: 80%;
			display:inline-block;
		}
		.header-logo {
		    display: block;
		    text-decoration: none;
		    text-align: center;
		    padding-bottom: 30px;
		    border-bottom: 3px;
			}
		.text {
			display:inline-block;
			height: 200px;
			width: 40%;
			text-align: left;
			margin-left: 20px;
		}
	.block-animation {
		width: 130px;
		height: 130px;
		background-color: #FF0004;
		transition: height 5s cubic-bezier(0.0, 0.5, 0.5 ,1.0) 100ms;
		}
	.block-animation:hover {
		width: 230px;
	}
	sale{
		float: left;
			color: black;
			height: 300px;
			width: 30%;
			border-bottom: solid;
			
		
		}
salet{
		float: left;
			color: black;
			height: 300px;
			width: 35%;
			border-bottom: solid;
			padding-left: 10px; 
			border-right: solid 2px;
		}
saleb{
		float: left;
			color: black;
			height: 300px;
			width: 34%;
			border-bottom: solid;
		}

algoritm{
	width: 100%;
	height: 350px;
	text-align: center
}
main{
	width: 100%;
	height: 400px;
}